@font-face {
    font-family: NimbusSans;
    src: url(../fonts/nimbussanl-bol.otf);
    font-weight: bold;
}
@font-face {
    font-family: NimbusSans;
    src: url(../fonts/nimbussanl-reg.otf);
}
@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik-Bold.ttf);
    font-weight: bold;
}

body {
    font-family: NimbusSans;
}

@keyframes two {
    0% {
        background-color: #ffb1ad;
        opacity:1;
    }
    22% {
        background-color: #ff5e56;
    }
    77% {
        background-color: #fc7871;
    }
    100% {
        background-color: #ff918b;
    }
}

@-webkit-keyframes two {
    0% {
        background-color: #ffb1ad;
        opacity:1;
    }
    22% {
        background-color: #ff5e56;
    }
    77% {
        background-color: #fc7871;
    }
    100% {
        background-color: #ff918b;
    }
}

.two {
    animation-name: two;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

    -webkit-animation-name: two;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.two-stay {
    background-color: #ff918b;
}

/* .two {
    background-color: #ff918b;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
} */

.one {
    background-color: #fffa9c;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.email{
    padding: 15px; 
    display: flex; 
    align-items: center;
    justify-content:space-between;
    width: calc(100% - 30px);
    border-radius: 5px;
}

.card {
    display: flex;  
    flex-wrap: wrap; 
    border-style: solid; 
    border-width: 0px; 
    border-radius: 5px; 
    padding: 15px; 
    align-items: center; 
    box-shadow: inset; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

.base {
    margin: 0; 
    padding: 0; 
    width: 100%;
    
}

#sender-email {
    font-size: 1.5rem;
    width: 100%;
    word-wrap: break-word;
}

#link-display {
    width: 100%;
}

.link-d {
    margin-bottom: 0px;
    font-weight: bold;
    color: #45CAE1;
}

.link-a {
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.heading {
    margin: 0;
    margin-left: 5px;
    color: #777777;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 4px;
}

.heading-container {
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-text {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 2.5rem;
}

#header-desc {
    margin: 0;
    font-size: 1.25rem;
    margin-top: 5px;
    color: #45CAE1;
    font-weight: bold;
}

.badtext {
    color: red;
    margin-top: 5px;
    font-weight: bold;
}

.two .badtext {
    color: white;
    text-decoration: underline;
}

.two .heading {
    color: red;
}

#spot-me-close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px;
    font-size: 1.5rem;
    z-index: 9001;
    color: #777777;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 200ms;
}

#spot-me-close:hover {
    color: #45CAE1;
}