@font-face {
    font-family: NimbusSans;
    src: url(../fonts/nimbussanl-bol.otf);
    font-weight: bold;
}
@font-face {
    font-family: NimbusSans;
    src: url(../fonts/nimbussanl-reg.otf);
}

body {
    font-family: NimbusSans;
}

.email{
    padding: 15px; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content:space-between;
    width: 225px;
    border-radius: 5px;
}

.card {
    display: flex;  
    flex-wrap: wrap; 
    border-style: solid; 
    border-width: 0px; 
    border-radius: 5px; 
    padding: 15px; 
    align-items: center; 
    box-shadow: inset; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

.base {
    margin: 0; 
    padding: 0; 
    width: 100%;
    
}
